.button-container{
    height:12.5rem;
    width:12.5rem;
    background-color: rgb(238, 238, 238);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button{ 
    border:none;
    outline: none;
    cursor: pointer;
}
button i{
    font-size: 1.5rem;
}
.btn-select{
    width: 50%;
    height: 50%;
    background-color: darkgray;
    border-radius: inherit;
    position: absolute;
}
.btn-right{
    position: absolute;
    background-color:rgb(238, 238, 238);
    right: 7px;
}
.btn-left{
    position: absolute;
    background-color:rgb(238, 238, 238);
    left: 7px;
}
.btn-menu{
    position: absolute;
    background-color:rgb(238, 238, 238);
    top: 15px;
}
.btn-play-pause{
    position: absolute;
    background-color:rgb(238, 238, 238);
    bottom: 15px;
}
