.screen-container{
    height: 46vh;
    min-width: 32vw;
    border-radius: 1.25rem;
    background: url('../img/screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 0 14px 0;
    background-clip: border-box;
    /* position: absolute; */
}